body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #283136;


  background-color: #ffffff;

}
.inner-page {
  color: #000000;
  background-color: #ffffff;
}
.page-title {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  text-align: center;
  align-items: center;
}
a {
  text-decoration: none;
}
.main-navigation {

  font-size: 16px;
  line-height: 30px;
  color: #eeeeee;

  background-color: #ffffff;
}
.site-navigation,
.user-navigation {
  list-style: none;
  text-transform: uppercase;
  font-weight: 500;
}

.site-navigation a,
.user-navigation a {
  color: #000000;
}

.nav-link:hover,
.nav-link:focus
{
  color: #fb565a;
}
.nav-link:active{
  color: #a6a6a6;
}

.features h3 {
  text-transform: uppercase;
}

.features-list {
  list-style: none;
}
.feature-item {
  text-align: left;
}

.feature-item h3 {
  font-size: 24px;
  line-height: 30px;
}
.button {
  font: inherit;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  border: none;

}
.sites-button{
  background-color: #fb565a;
}
.sites-button:hover,
.sites-button:focus{
  background-color: #e74246;
}
.sites-button:active{
  background-color: #d7373b;
}
.apps-button{
  background-color: #00ca74;
}
.apps-button:hover,
.apps-button:focus{
  background-color: #00bc6c;
}
.apps-button:active{
  background-color: #00aa62;
  color: rgba(255,255,255,0.5);
}
.present-button{
  background-color: #efc84a;
}
.present-button:hover,
.present-button:focus{
  background-color: #eab534;
}
.present-button:active{
  background-color: #e5a722;
}
.modal-button{
  background-color: #fb565a;
}
.modal-button:hover,
.modal-button:focus{
  background-color: #e74246;
}
.modal-button:active{
  background-color: #d7373b;
}

.button-catalog {
  background-color: #eeeeee;
  color: #000000;
}

.item-button {
  line-height: 18px;
  color: #ffffff;
  background-color: #fb565a;
}

.main-footer {
  color: #283136;

  background-color: #ffffff;
  background-position: 0 0;

}
.footer-social ul {
  list-style: none;
}

.social-button {
  color: #e1e1e1;
}
.sale {
  text-align: left;
  font-size: 16px;
  line-height: 22px;
}
.sale-bold{
  font-size: 36px;
  line-height: 36px;
}

.modal {
  color: #000000;
  background-color: #ffffff;

}
.modal h2 {
  font-size: 18px;
  line-height: 30px;
}
.login-form input[type="text"] {
  font: inherit;
  color: #000000;
  background-color: #ffffff;
  border: 2px solid #d7dcde;
}
.login-form input:focus {
  border-color: #000000;
}
.login-form input:hover {
  border-color: #b4b9bb;
}
.modal-label {
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;

}
input:invalid {
  border: 2px #e74246;
}


.filter fieldset {
  border: none;
}

.filter legend {
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: bold;
}
.filter ul {
  list-style: none;
  line-height: 20px;
  color: #283136;
}

.filter-input:hover + label,
.filter-input:focus + label {
  color: #4d4d4d;
}

.filter-input:disabled + label {
  color: #bec1c2;

  opacity: 0.5;
}
.catalog-list {
  list-style: none;
}

.catalog-item {
  background-color: #ffffff;
  border: 1px solid #000000 ;
}

.catalog-item:hover {
  border:  1px solid #ffffff;
}
.catalog-item a {
  color: #000000;
}

.catalog-item h3 {
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}
.catalog-item a:hover{
  color: #fb565a;
}
.catalog-item a:active{
  color: #b2b2b2;
}

.pagination-list {
  list-style: none;
}
.pagination-item a {
  color: #000000;

  background-color: #eeeeee;
}
.pagination-item a:hover{
  background-color: #dfdfdf;
}
.pagination-item a:focus{
  background-color: #ffffff;
}
.pagination-item a:active {
  background-color: #d5d5d5;
}
.visually-hidden:not(:focus):not(:active) {
  /* ... */
}
.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap; /* added line */
}
/* ----- Сеточные стили ----- */
body {
  min-width: 1440px;
  min-height: 2476px;
}
.main-header {
  background-color: #eeeeee;
  /* Временно для сетки */
  min-height: 115px;}

  .header-box{
    display: flex;
  }

.main-navigation {
  display: flex;

  /* Временно для сетки */
  min-height: 115px;
}
.main-header-logo {
  width: 160px;
  height: 65px;

}

.site-navigation {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #eeeeee;
  /* Временно для сетки */
  min-height: 115px;
}

.user-navigation {
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #eeeeee;
  margin-left: auto;
  /* Временно для сетки */
  min-height: 115px;
}

.container {
  width:1200px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.features-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;
  /* Временно для сетки */
  min-height: 347px;
}
.feature-item {
  width: 300px;
  /* Временно для сетки */
  min-height: 347px;
}
.main-footer {
  margin-top: 70px;
  margin-bottom: 70px ;
  /* Временно для сетки */
  background: none;
  min-height: 78px;
}
.sale {
  margin: 0;
  width: 560px;
  /* Временно для сетки */
  min-height: 70px;
}

.footer-social {
  width: 260px;
  margin-right: 140px;

  /* Временно для сетки */
  min-height: 70px;
}
.main-footer .container {
  display: flex;
}
/* сетка каталогов*/
.inner-page .main-header {
  display: flex;
  background-color: #eeeeee;
  /* Временно для сетки */
  min-height: 355px;
}

.inner-page .user-navigation {
  margin-left: auto;
}


.filter {
  width: 260px;

  /* Временно для сетки */
  min-height: 510px;
}
.catalog {
  width: 700px;

  /* Временно для сетки */
  min-height: 687px;
}
.catalog-columns {
  display: flex;
  justify-content: space-between;
}
.catalog-item {
 width: 360px;
 margin-bottom: 20px;
  margin-right: 20px;

 /* Временно для сетки */
  min-height:615px;
}
.catalog-item:nth-child(2n){
  margin-right: 0;
}
.catalog-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-bottom: 25px;

   width: 760px;
  list-style: none;

}

.pagination-list {
  padding: 0;
  margin: 0;

  list-style: none;

  /* Временно для сетки */
  min-height: 50px;
}
